
/* @font-face {
    font-family: 'raleway-regular-webfont';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; */
* {
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext);
body {
  font-family: 'Raleway', sans-serif;
  color: #616161;
  font-size: 14px;
}

.green {
  color: #27c7ab;
}

.bolder {
  font-weight:bolder;
}

.grey_form {
  color: #cbcbcb;
}

.main_width {
  width: 900px;
  margin: auto;
/*  border: 1px solid red; /* to jest robocza ramka */
}

nav {
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  padding-top: 10px;
  margin-bottom: 120px;
}

.menu {
  position: relative;
  display: inline-block;
  float: left;
}

a {
  text-decoration: none;
  color: white

}

ul {
  position: relative;
  display: inline-block;
  float: right;
}

li {
  position: relative;
  display: inline-block;
  width: 100px;
}

.sub_menu {
  position: absolute;
  display: none;
  line-height: 1.5em;
  width: 100px;
  height: 80px;
  background-color: black;
  padding-left: 20px;
  padding-top: 10px;
  bottom: -130px;
  left: -20px;
  z-index: 100;
}

#hover:hover .sub_menu {
  display: block;
  z-index: 1000;
}

.overflow {
  overflow: auto;
}

.first_section {
  width: 100%;
  height:300px;
  background: rgba(250,250,250,1);
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(209,208,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(209,208,216,1)));
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(209,208,216,1) 100%);
  background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(209,208,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(209,208,216,1) 100%);
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(209,208,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d8', GradientType=0 );
  margin-bottom: 50px;
}

.block {
  position: ; /* relative*/
  display: inline-block;
  width: 270px;
  height: 550px;
  margin: 0;
  padding: 0;
  float: left;
}

.armchair {
  position: relative;
  display: inline-block;
  float: left;
  width: 450px;
  height: 300px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.armchair:before {
position: absolute;
content: "<";
font-size: 60px;
top: 100px;
}

/*.armchair:after {
position: absolute;
float, right;
content: ">";
font-size: 60px;
top: 100px;
left: px;
} */


.armchair img {
  width: 450px;
  height: 300px;
}

.intro {
  position: relative;
  display: inline-block;
  float: left;
  width: 300px;
  height: 278px;
  margin: 20px 25px 0;
  text-align: center;
  line-height: 1.5em;
}



button {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  background-color: #27c7ab;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: none;
}


.first_section button:after  {
position: absolute;
color: #27c7ab;
content: ">";
font-size: 60px;
top: 60px;
left: 385px;
}

.second_section {
  margin-bottom: 50px;
}

.picture {
  position: relative;
  width: 270px;
  height: 200px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  float: left;
}

#pic_1 {
  position: relative;
  background-image: url("../images/box1_img.jpg");
  background-size: cover;
  }

#pic_2 {
  margin-left: 45px;
  background-image: url("../images/box2_img.jpg");
  background-size: cover;
}

#pic_3 {
  margin-left: 45px;
  width: 268px;
  height: 198px;
  border: 1px solid #d9d9d9;
}

.white_strip {
  position: relative;
  width: 270px;
  height: 40px;
  background-color: rgba(247, 247, 247, 0.42);
  margin-top: 140px;
  padding-top: 5px;
}

h3 {
position: relative;
font-size: 0.8em;
color: #080703;
border-bottom: 5px solid #27c7ab;
line-height: 1.5em;
margin-left: 15px;
margin-top: 8px;
width: 110px;
}

#description {
  padding: 15px;
  font-size: 12px;
  line-height: 1.5em;
  width: 239px;
  height: 100px;
}

.description {
  padding-bottom: 5px;
}

.third_section {
  background-color: #d9d9d9;
  margin-bottom: 50px;
}

#block_2, #block_3 {
  margin-left: 43px;
}

.green_strip_big {
  font-size: 0.8em;
  color: #555555;
  border-bottom: 4px solid #27c7ab;
  line-height: 0.5em;
  margin-top: 30px;
  width: 270px;
  height: 16px;
}

.empty {
  width: 270px;
  height: 20px;
  margin-top: 30px;
}

.rings {
  position: relative;
  width: 270px;
  height: 40px;
  }

.ring_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.ring_2 {
  position: absolute;
  z-index: 10000;
  margin-top: 20px;
  margin-left: 115px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
}

.price_plan {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 370px;
  border: 2px solid #c7c7c7;
  background-color: #f9f9f9;
  padding-top: 20px;
  text-align: center;
}

.plan_type {
  position: relative;
  color: #27c7ab;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 20px 0;
}

.price_label  {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 120px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #c7c7c7;
  background-color: #ffffff;
  padding-top: 20px;
}

.grey {
  color: #c7c7c7;
  font-weight: bolder;
}

.price_PLN {
  display: inline-block;
  font-size: 3em;
}

.price_groszy {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding-top: -50px;
  padding-left: -20px;  /* to nie przesunęło groszy w lewo */

}

.PLN_MSC {
  font-size: 0.9em;
}

 table {
  position: relative;
  width: 270px;
  height: 150px;
  margin: 20px 0;
  font-size: 1.1em;
  border-collapse: collapse;
}

tr {
  height: 1.5em;
  color: #777777;
}

.grey_dark {
  background-color: #e4e4e4;
}

.grey_light {
  background-color: #f1f1f1;
}

table+button {    /* lewy margines na zero, zeby wysrodkowac,  */
 position: absolute;
 width: 80px;
 height: 20px;
 margin-left: -40px;
 margin-top: -35px;
}

form {
  margin: 40px 0 0;
  /*width: 925px; */
  height: 500px;
}

fieldset {        /*tu był fieldset i on znika ! */
  border: none;
}

form .larger {
  display: inline-block;
  float: left;
  width: 500px;
}

fieldset.larger {
  width: 450px;
}

input.larger {
  display: block;
  margin-bottom: 50px;
  height: 40px;
  border: 1px solid #27c7ab;
}

textarea {
  height: 160px;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid #27c7ab;
  font-family: 'Raleway', sans-serif;
}


::-webkit-input-placeholder {
  font-size: 20px;
}

::-moz-placeholder {
  font-size: 20px;
}

::-ms-input-placeholder {
  font-size: 20px;
}

form .smaller {
  display: inline-block;
  width: 340px;
  /*border: 1px solid green; */
  margin-left: 20px;
}

fieldset.smaller { /*czemu to nie działa?*/
  width: 200px;
}

.smaller img {  /* red chair*/
  width: 200px;
  margin-left: 60px;
  margin-top: -15px;
  margin-bottom: 20px;
}

fieldset .checkbox .smaller {
  display: inline-block;
  margin: 30px 30;
}

/*.checked {
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  margin-left: 70px;
  border: 1px solid #27c7ab;
  border-radius: 10%;
  padding: 10px;
}

  .checked:active, .checked:checked:active   {
    width: 30px;
    height: 30px;
    background-image: url("../images/form_ok.jpg");
    display: inline-block;
    margin-left: 70px;
    border: 1px solid #27c7ab;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
  }

  .checked:checked:after {
    width: 30px;
    height: 30px;
    background-image: url("../images/form_ok.jpg");
    display: inline-block;
    margin-left: 70px;
    border: 1px solid #27c7ab;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
  }
*/


div .form_ok {
  width: 30px;
  height: 30px;
  /*background-image: url("../images/form_ok.jpg");*/
  display: inline-block;
  margin-left: 70px;
  border: 1px solid #27c7ab;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

div .form_ok: {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("../images/form_ok.jpg");
  display: inline-block;
  margin-left: 70px;
  border: 1px solid #27c7ab;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  z-index: 20000;
}
      /*checkbox*/
input.smaller.checkbox {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  label.smaller.checkbox {
    margin-top: 40px;
    margin-left: 10px;
    width: 220px;
    height: 40px;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  button.smaller {
    width: 270px;
    height: 60px;
    font-size: 20px;
    margin: 30px 0 30px 70px;
  }

  footer {
  width: 900px;
  }

  .footer {
    display: inline-block;
  }

  .footer+.logos {
    margin-left: 260px;
  }

  .logo {
  width: 20px;
  height: 20px;
  display: inline-block;
/*  float:; */
}

#flickr {
  background-image:url("../images/flickr.png");
  background-size: cover;
}

#vimeo {
  background-image: url("../images/vimeo.png");
  background-size: cover;
}

#pinterest {
  background-image: url("../images/pinterest.png");
  background-size: cover;
}

#twitter {
  background-image: url("../images/twitter.png");
  background-size: cover;
}

  footer span {
  font-weight: bolder;
}

  p.footer {
  margin-left: 100px;
  margin-bottom: 30px;
}


/*

footer span {
  font-weight: bolder;
}

footer>.logo, footer>p {
  display: inline-block;
}

footer>p.logos {
  margin-left: 200px;
  float: ;
*/
